body {
    background-color: black;
}

/* MAIN */

main {

    background-image: linear-gradient(to bottom, #542636, #402333, #2d1e2c, #1d1921, #121212);

}

/* Top del main */

#top-icon {
    height: 4rem;
    background-color: #542636;

}

/* #top-icon .bi{
    background-color: #071113;
    border-radius: 50px;
} */
#nav-icon button {
    width: 2.5rem;
}

#user-icon button:nth-child(2) {
    width: 2rem;

}

#user-icon button:nth-child(3) {
    width: 2rem;
}

/* 
 #results-container{
    background-image: linear-gradient(to bottom, #542636, #402333, #2d1e2c, #1d1921, #121212); 
    background: linear-gradient(0deg, rgba(18,18,18,1) 37%, rgba(140,219,204,1) 91%);
     background-color:rgba(18,18,18,1) 37% ;
}  */


/* GREETINGS Section */

#greetings{
    width: 100%;
}


#greetings >div{
    height: 5.5rem;
    width: 31.5rem;
    background-color: rgba(42, 43, 43, 0.4);
}
#greetings >div > .row{
    height: 5.5rem;
}
#img-greetings{
    height: 5.5rem;
}


/* CARDS */

.results-container>div {
    width: 14%;
}

#play-btn-container {
    inset: 108px 0 0 110px;
}

#play-btn-container button {
    background-color: #1CB954;
    -webkit-box-shadow: 0px 12px 14px -5px #000000;
    box-shadow: 0px 12px 14px -5px #000000;
}

#card {

    background-color: rgb(21, 20, 20);
}
.card-results{
    height: 18rem;
}


#card:hover {
    background-color: #282828;
    cursor: pointer;
}

#card:hover #play-btn {
    visibility: visible;
    transition: all 0.75 ease-in-out;
}


/* FOOTER */
#social-icons button {
    background-color: #727272;
    filter: brightness(0.30);
}

#social-icons button>.bi {
    color: white;

}

#social-icons button:hover {
    background-color: #727272;
    filter: brightness(1.50);

}
 #footer-list >li{
    font-size: 10pt;
 }
 #copyrights p{
    font-size: 10pt;
 }



/* SIDEBAR */
#fixed-sidebar-sx {
    flex: 0 0 auto;
    width: 22%;
    padding-right: 0;
    height: 100%;
    position: sticky;
    top: 0;
}

.bg-black {
    background-color: black;
}

.text-grey {
    color: lightgray;
}

.text-grey:hover {
    color: white;
}

.img-playlist-sidebar {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 4px;

}

#fixed-sidebar-sx .nav.flex-column img {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 4px;
}

.img-episodi-sidebar {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #004537;
    color: #149643;
}

#fixed-sidebar-sx .sticky-top {
    border-bottom: 1px solid grey;
}

.sidebar-scroll {

    position: fixed;
    height: 100vh;
    width: 17%;
    overflow: auto;
}

html::-webkit-scrollbar-track {
    background: black;
}

.sidebar-scroll::-webkit-scrollbar-track {
    background: black;
}

.sidebar-scroll::-webkit-scrollbar {
    width: 10px;

}

html::-webkit-scrollbar {
    width: 10px;

}

.sidebar-scroll::-webkit-scrollbar-thumb {
    background: grey;

}

html::-webkit-scrollbar-thumb {
    background: grey;

}

.friends {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.friends img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.friends p {
    font-size: 13px;
}

/* PLAYER */
#player i {
    color: white;
    cursor: pointer;
    opacity: 0.7;
}

#player i:hover {
    opacity: 1;
}

#player {
    background-color: black;
}

#progress {
    margin-bottom: 20px;
    color: white;
    background-color: gray;
    height: 3px;
    width: 38vw;

}

.bi-skip-start-fill,
.bi-skip-end-fill {
    font-size: 25px;
}

#progress2 {

    color: white;
    background-color: gray;
    height: 4px;
    width: 7vw;
    border-radius: 10px;
}

.bi-volume-down {
    font-size: 25px;
}

.time {
    color: white;
    padding: 0px;
    width: 33px;
    margin-bottom: 22px;
}

@media only screen and (max-width: 992px) {
    #progress {
        width: 28vw;
    }

    #progress2 {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #progress {
        width: 12vw;
    }
}
