body {
    background-color: black;
  
}

*{
  transition: all 0.3s ease;
}
 

/* MAIN */

main {

    background-image: linear-gradient(to bottom, #542636, #402333, #2d1e2c, #1d1921, #121212);
    width: -webkit-fill-available;
}

/* Top del main */

#top-icon {
    height: 4rem;
    background-color: #542636;

}

/* #top-icon .bi{
    background-color: #071113;
    border-radius: 50px;
} */
#nav-icon button {
    width: 2.5rem;
}

#user-icon button:nth-child(2) {
    width: 2rem;

}

#user-icon button:nth-child(3) {
    width: 2rem;
}

/* 
 #results-container{
    background-image: linear-gradient(to bottom, #542636, #402333, #2d1e2c, #1d1921, #121212); 
    background: linear-gradient(0deg, rgba(18,18,18,1) 37%, rgba(140,219,204,1) 91%);
     background-color:rgba(18,18,18,1) 37% ;
}  */


/* GREETINGS Section */

#greetings{
    width: 100%;
}


#greetings >div{
    height: 5.5rem;
    /* width: 31.5rem; */
    background-color: rgba(42, 43, 43, 0.4);
}
#greetings >div > .row{
    height: 5.5rem;
}
#img-greetings{
    height: 5.5rem;
}


/* CARDS */



#play-btn-container {
    inset: 108px 0 0 110px;
}

#play-btn-container button {
    background-color: #1CB954;
    -webkit-box-shadow: 0px 12px 14px -5px #000000;
    box-shadow: 0px 12px 14px -5px #000000;
}

#card {

    background-color: rgb(21, 20, 20);
}
.card-results{
    height: 18rem;
}


#card:hover {
    background-color: #282828;
    cursor: pointer;
}

#card:hover #play-btn {
    visibility: visible;
    transition: all 0.75 ease-in-out;
}


/* FOOTER */
#social-icons button {
    background-color: #727272;
    filter: brightness(0.30);
}

#social-icons button>.bi {
    color: white;

}

#social-icons button:hover {
    background-color: #727272;
    filter: brightness(1.50);

}
 #footer-list >li{
    font-size: 10pt;
 }
 #copyrights.p{
    font-size: 10pt;
 }





/* PLAYER */

#player i {
    color: white;
    cursor: pointer;
    opacity: 0.7;
  }
  
  h5 {
    color: white;
    font-size: 15px;
  }

  .icons {
    width: 20%;
  }
  
  #player i:hover {
     opacity: 1;
  }
  
  .bi-play-circle-fill:hover {
      transform: scale(105%);
  }
  
  
  
  #player {
      background-color: black;
      
  }
  
  #progress {
      margin-bottom: 20px;
      color: white;
      background-color: gray;
      height: 3px;
      width: 38vw;
      
    }
  
    .bi-skip-start-fill, .bi-skip-end-fill {
      font-size: 25px;
    }
  
    #progress2 {
      
      color: white;
      background-color: gray;
      height: 4px;
      width: 7vw;
      border-radius: 10px;
    }
  
    .bi-volume-down {
      font-size: 25px;
    }
  
    .time {
      color: white;
      padding: 0px;
      width: 33px;
      margin-bottom: 22px;
    }

    .img-player {
        width: 70px;
      }
  
    @media only screen and (max-width: 992px) {
      #progress {
        width: 28vw;      
      }
  
      #progress2 {
        display: none;
      }

      .fixed-bottom{
        bottom: 20px !important;
      }
  }
  
  @media only screen and (max-width: 768px) {
    #progress {
      width: 12vw;    
    }
  }

  /* MOBILE */

  @media (max-width: 992px) { 
    #fixed-sidebar-sx, .sidebar-scroll, .song-rank, #progress, #progress2, .icons, .time, .bi-file-play, .bi-mic,
    .bi-border-width, .bi-pc-display, .bi-volume-down, .bi-pip, .bi-shuffle, .bi-arrow-counterclockwise,
    .bi-arrow-clockwise, .bi-repeat, .artist-player, .bi-skip-start-fill {
      display: none;
    }

    #user-icon { 
        display: none !important; 
    }

    .player-icons {
      width: 100px;
      justify-content: end;
      position: relative;
      left: 200px;
    } 

    #main {
      width: 100%;
    }

    .artist-name {
      font-size: 70px;
    }

    h5 {
      font-size: 10px;
    }

    .img-player {
      width: 40px;
      margin-left: 10px;
    }

    #player {
      height: 50px;
      align-items: center;
    }

    .footer {
      flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    /* #greetings {
        flex-direction: column;
    } */

    /* .row>* {
        width: auto;
    } */

    /* #made-for-you-section {
        flex-direction: column;
    } */

    /* .row {
        flex-wrap: nowrap;
    } */

    .results-container>div {
        /* width: 30%; */
        margin-bottom: 10px;
        /* height: 100%; */
    }

    /* #recently-played-section {
        flex-direction: column;
    } */

    #user-icon {
        justify-content: start;
    }
   }


  