:root{
    --color-green: #1DB954;
    --color-black: #191414;
    --color-white: #ffffff;
    --color-grey: #242424;
}

*{
    transition: all 0.3s ease;
}

body{
    background-color: var(--color-black);
    font-family: sans-serif;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.bg-dark{
    background-color: var(--color-grey) !important;
}

input[type="text"]:focus{
    outline: none !important;
}

input[type="text"]::placeholder, input[type="text"]{
    font-weight: bold;
}

.card{
    transition: all .3s ease;
}

.card-body{
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    color: #fff;
    display: flex;
    align-items: flex-end;
    transition: all .3s ease;
}

.play-button{
    position: absolute;
    right: calc(50% - 21px);
    top: calc(50% - 21px);
    transform: translateY(10px);
    opacity: 0;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: var(--color-green);
    transition: all .3s ease;
    box-shadow: none;
    border-radius: 50%;
}
#cover:hover .play-button{
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.75);
}

.player-play{
    width: 48px;
    height: 48px;
    background-color: var(--color-green);
    transition: all .3s ease;
    box-shadow: none;
    border-radius: 50%;
}

.TextCut{
    white-space: nowrap;      
    overflow: hidden;
    text-overflow: ellipsis;  
}

.main .row{
    cursor: pointer;
}

.main .row:hover .play-button{
    opacity: 1;
    transform: translateY(0px);
}

.active{
    opacity: 1;
    transform: translateY(0);
    animation: linear 2s infinite running rotate;
    color: var(--color-green);
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.square {
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.square:hover{
    opacity: 0.75;
}

.square img{
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    height: 50%;
    aspect-ratio: 1/1;
    transform: rotate(25deg) translate(18%,-2%);
}

footer *{
    font-size: 12px;
}

.player-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%; 
    height: 2px; 
    background-color: var(--color-green); 
}

.player-progress-bar::after{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-green);
    position: absolute;
    right: -2px;
    bottom: -2px;
}