#fixed-sidebar-sx {
    flex: 0 0 auto;
    width: 20%;
    padding-right: 0;
    position: fixed;
    overflow: scroll;
    height: 100%;
}

.bg-black {
    background-color: black;
}
.text-grey {
    color: lightgray;
}

.img-playlist-sidebar {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 4px;
    
}
#fixed-sidebar-sx .sidebar-top .nav.flex-column img {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 4px;
}

.img-episodi-sidebar {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #004537;
    color: #149643;
}
#fixed-sidebar-sx .sticky-top {
    border-bottom: 1px solid grey;
}

.sidebar-scroll {
    height: 100vh;
    overflow: auto;
}

html::-webkit-scrollbar-track {
    background: black;
}
.sidebar-scroll::-webkit-scrollbar-track {
    background: black;
}

.sidebar-scroll::-webkit-scrollbar{
    width:10px;
    
    
}
html::-webkit-scrollbar{
    width:10px;
    
}
#fixed-sidebar-sx::-webkit-scrollbar{
    width: 0;
}
    
.sidebar-scroll::-webkit-scrollbar-thumb{
  background:grey;

}

html::-webkit-scrollbar-thumb{
  background:grey;

}
.ArtistInfo img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: fill;
}
#main {
    margin-left: 20%;
}
