#fixed-sidebar-sx {
    flex: 0 0 auto;
    width: 18%;
    padding-right: 0;
    height: 100vh;
}
.bg-black {
    background-color: black;
}
.img-playlist-sidebar {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 4px;
    
}
#fixed-sidebar-sx .nav.flex-column img {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 4px;
}

.img-episodi-sidebar {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #004537;
    color: #149643;
}
#fixed-sidebar-sx .sticky-top {
    border-bottom: 1px solid grey;
}

.sidebar-scroll {
    
    position: fixed;
    height: 100vh;
    width: 18%;
    overflow: auto;
}

html::-webkit-scrollbar-track {
    background: black;
}
.sidebar-scroll::-webkit-scrollbar-track {
    background: black;
}

.sidebar-scroll::-webkit-scrollbar{
    width:10px;
    
}
html::-webkit-scrollbar{
    width:10px;
    
}
    
.sidebar-scroll::-webkit-scrollbar-thumb{
  background:grey;

}

html::-webkit-scrollbar-thumb{
  background:grey;

}