#player i {
    color: white;
    cursor: pointer;
    opacity: 0.7;
}

#player i:hover {
   opacity: 1;
}

.bi-play-circle-fill:hover {
    transform: scale(105%);
}

#player {
    background-color: black;
}

#progress {
    margin-bottom: 20px;
    color: white;
    background-color: gray;
    height: 3px;
    width: 38vw;
    
  }

  .bi-skip-start-fill, .bi-skip-end-fill {
    font-size: 25px;
  }

  #progress2 {
    
    color: white;
    background-color: gray;
    height: 4px;
    width: 7vw;
    border-radius: 10px;
  }

  .bi-volume-down {
    font-size: 25px;
  }

  .time {
    color: white;
    padding: 0px;
    width: 33px;
    margin-bottom: 22px;
  }

  @media only screen and (max-width: 992px) {
    #progress {
      width: 28vw;      
    }

    #progress2 {
      display: none;
    }
}

@media only screen and (max-width: 768px) {
  #progress {
    width: 12vw;    
  }
}

#fixed-sidebar-sx {
  flex: 0 0 auto;
  width: 17%;
  padding-right: 0;
  height: 100vh;
}
.bg-black {
  background-color: black;
}
.text-grey {
  color: lightgray;
}
.text-grey:hover {
  color: white;
}
.img-playlist-sidebar {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 4px;
  
}
#fixed-sidebar-sx .nav.flex-column img {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 4px;
}

.img-episodi-sidebar {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #004537;
  color: #149643;
}
#fixed-sidebar-sx .sticky-top {
  border-bottom: 1px solid grey;
}

.sidebar-scroll {
  
  position: fixed;
  height: 100vh;
  width: 17%;
  overflow: auto;
}

html::-webkit-scrollbar-track {
  background: black;
}
.sidebar-scroll::-webkit-scrollbar-track {
  background: black;
}

.sidebar-scroll::-webkit-scrollbar{
  width:10px;
  
}
html::-webkit-scrollbar{
  width:10px;
  
}
  
.sidebar-scroll::-webkit-scrollbar-thumb{
background:grey;

}

html::-webkit-scrollbar-thumb{
background:grey;

}

.friends {
  display: flex;
  justify-content:space-between;
  align-items: flex-start;

}
.friends img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.friends p {
  font-size: 13px;
}

#main {
  background-color: #1F1F1F;
}


/* LOADER */
.jelly {
	--uib-size: 100px;
	--uib-speed: .9s;
	--uib-color: rgb(0, 0, 0);
	display: grid;
    place-items: center;
  
	position: relative;
	height: calc(var(--uib-size) / 2);
	width: var(--uib-size);
	filter: url('#uib-jelly-ooze');
	animation: rotate calc(var(--uib-speed) * 2) linear infinite;
  }
  
  .jelly::before,
  .jelly::after {
	content: '';
	position: absolute;
	top: 0%;
	left: 25%;
	width: 50%;
	height: 100%;
	background: var(--uib-color);
	border-radius: 100%;
  }
  
  .jelly::before {
	animation: shift-left var(--uib-speed) ease infinite;
  }
  
  .jelly::after {
	animation: shift-right var(--uib-speed) ease infinite;
  }
  
  .jelly-maker {
	width: 0;
	height: 0;
	position: absolute;
  }
  
  @keyframes rotate {
	0%,
	49.999%,
	100% {
	  transform: none;
	}
  
	50%,
	99.999% {
	  transform: rotate(90deg);
	}
  }
  
  @keyframes shift-left {
	0%,
	100% {
	  transform: translateX(0%);
	}
	50% {
	  transform: scale(0.65) translateX(-75%);
	}
  }
  
  @keyframes shift-right {
	0%,
	100% {
	  transform: translateX(0%);
	}
	50% {
	  transform: scale(0.65) translateX(75%);
	}
  }