#player i {
    color: white;
}

#player {
    background-color: black;
}

.progress {
    margin-bottom: 20px;
    color: white;
    background-color: gray;
    height: 3px;
    width: 400px;
    
  }

  .bi-skip-start-fill, .bi-skip-end-fill {
    font-size: 25px;
  }

  .progress2 {
    
    color: white;
    background-color: gray;
    height: 4px;
    width: 100px;
  }

  .bi-volume-down {
    font-size: 25px;
  }

  .time {
    color: white;
    padding: 0px;
    width: 33px;
    margin-bottom: 22px;
  }